/************************ Navigatiebar ************************/
html {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0px;
  display: block;
}

nav {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding-top: 30px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 600;
}

.navbar h2 a {
  color: black;
  text-decoration: none;
  font-size: clamp(10px, 25px, 30px);
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: blueviolet;
  transition: 0.4s;
}

.active {
  color: blueviolet;
}

/************************ Hero Content ************************/

.hero {
  height: 600px;
  width: 100%;
  position: relative;
}

.hero-content {
  padding-left: 8%;
  padding-top: 8%;
  padding-right: 8%;
  line-height: 40px;
  height: 600px;
}

h1 {
  color: black;
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0px 20px;
}

h3 {
  color: grey;
  font-size: 28px;
  font-weight: 300;
  margin-right: 50%;
  line-height: 50px;
}

h3 span {
  font-weight: 800;
  color: black;
}

/************************ Main Content ************************/
main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.middle-content {
  padding-left: 12%;
  padding-top: 2%;
  padding-right: 12%;
}

h4 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 0px;
}

main h5 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 100px;
}

h5::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #555;
  vertical-align: top;
  margin-top: 11px;
  margin-right: 20px;
}

.project-card {
  margin: 150px 0px 400px;
  padding: 2% 0px 2%;
  position: relative;
  height: 230px;
}

.project-1-text {
  margin-top: 10px;
  margin-right: 55%;
  max-width: 540px;
}

p {
  font-size: 18px;
  font-weight: 200;
  color: grey;
  line-height: 1.75;
  letter-spacing: 0.015rem;
}

.project-1-pic {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: grey;
  width: 550px;
  height: 350px;
  position: absolute;
  right: 0%;
  top: 10px;
  transition: 250ms ease-in-out;
}

.project-1-pic:hover {
  transform: scale(1.03);
}

.project-button {
  position: absolute;
  margin-top: 20px;
}

body a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

body .project-button a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1px;
  width: 100%;
  left: 0%;
  bottom: -15px;
  transition: 0.3s;
}

body .project-button a:hover::after {
  height: 10px;
  width: 100%;
}

.webdesign-thumbnail {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 550px;
  height: 350px;
  position: absolute;
  left: 0%;
  top: 10px;
  object-fit: cover;
  object-position: 0 55%;
  transition: 250ms ease-in-out;
}

.webdesign-thumbnail:hover {
  transform: scale(1.03);
}

.medq-thumbnail {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 0px 0px;
  width: 550px;
  height: 350px;
  position: absolute;
  left: 0%;
  top: 10px;
  object-fit: contain;
  object-position: center;
  transition: 250ms ease-in-out;
}

.medq-thumbnail:hover {
  transform: scale(1.03);
}

.project-2-text {
  margin-top: 10px;
  max-width: 540px;
  position: absolute;
  right: 0%;
  left: 55%;
}

.more-project-button {
  position: absolute;
  margin-top: -200px;
}

main .more-project-button a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1px;
  width: 100%;
  left: 0%;
  bottom: -15px;
  transition: 0.3s;
}

main .more-project-button a:hover::after {
  height: 10px;
  width: 100%;
}

/************************ Footer Content ************************/

footer {
  height: 100vh;
  width: 100%;
  margin-top: 0px;
}

.bottom-content {
  position: relative;
  padding-left: 12%;
  padding-top: 2%;
  padding-right: 12%;
  height: 100%;
}

footer h5 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 100px;
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

footer .project-button a::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 1px;
  width: 100%;
  left: 0%;
  bottom: -15px;
  transition: 0.3s;
}

footer .project-button a:hover::after {
  height: 10px;
  width: 100%;
}

.credits p {
  color: black;
  font-weight: lighter;
  font-size: 16px;
  position: absolute;
  bottom: 100px;
}
